<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/meta.ejs') %>
    <title>Profile</title>
    <!-- My CSS Source Start -->
    <link rel="stylesheet" href="/form.css" />
    <!-- My CSS Source End -->
  </head>
  <body>
    
    <div class="signup-section" id="2">
      <div class="signup-row">
        <!-- Menu Section -->
        <div class="signup-text">
          <h1>Profile</h1>
          <h3> <a class="head_a"href="/dashboard">Dashboard</a> </h3>
          <h3> <a class="head_a"href="/profile">Profile</a> </h3>
          <h3> <a class="head_a"href="/gamehistories">Game Histories</a></h3>
        </div>
        <!-- Form Section -->
        <div class="my-custom-scrollbar table-wrapper-scroll-y">
          <table class="table table-dark table-hover">
            <tr>
              <th scope="col">No.</th>
              <th scope="col">Username</th>
              <th scope="col">Email</th>
              <th scope="col">Role</th>
              <th scope="col"></th>
              <th scope="col">Action</th>
              <th scope="col"></th>
            </tr>
            <% for (let i = 0; i < user.length; i++){ %>
            <tr>
              <td><%= i+1 %></td>
              <td><%= user[i].username %></td>
              <td><%= user[i].email %></td>
              <td>
                <% if(user[i].role == 1) { %>
                    Admin
                <%}else{ %>
                    Player
                <%}%>
              </td>
              <td class="col">
                <a class="btn btn-warning btn-sm" href="/profile/<%=user[i].id%>/profile" role="button">Profile</a>
              </td>
              <td class="col">
                <a class="btn btn-success btn-sm" href="/profile/<%=user[i].id%>/edit" role="button">Edit</a>
              </td>
              <td class="col">
                <a class="btn btn-danger btn-sm" href="/profile/<%=user[i].id%>/delete" role="button">Delete</a>
              </td>
            </tr>
            <% } %>
            
          </table>
        </div>
        <div class="adduser-button d-grid  col-4 ">
          <a class="btn btn-primary" href="/profile/add" role="button">Add New User</a>
        </div>
      </div>
    </div>
  </body>
</html>
